stages:
  - build
  - test
  - publish

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  LATEST_IMAGE: $CI_REGISTRY_IMAGE:latest

before_script:
  - docker info

build:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $IMAGE_NAME .
    - docker image ls
  artifacts:
    expire_in: 1 hour
    paths:
      - Dockerfile
  only:
    - main

test:
  stage: test
  image: golang:1.23-alpine
  script:
    - apk add --no-cache git
    - go mod download
    - go test -v -race ./...
    - go build .
  artifacts:
    reports:
      junit: report.xml
    expire_in: 1 hour
    paths:
      - coverage.out
  only:
    - main

publish:
  stage: publish
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker push $IMAGE_NAME
    - docker tag $IMAGE_NAME $LATEST_IMAGE
    - docker push $LATEST_IMAGE
  dependencies:
    - build
  only:
    - main
