name: Go CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Go Environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.x'
      - name: Download and Verify Go Modules
        run: go mod download
        
      - name: Ensure Dependencies are Consistent
        run: go mod tidy
        
      - name: Install godog for BDD
        run: go install github.com/cucumber/godog/cmd/godog@latest
        
      - name: Run Unit Tests
        run: go test -v ./internal/app/... -coverprofile=coverage.out
        
      - name: Run BDD Tests
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          chmod +x ./run_bdd_tests.sh
          ./run_bdd_tests.sh all
      - name: Upload Test Reports and Coverage
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            test-reports/
            coverage.out
          retention-days: 2

  package:
    needs: test 
    runs-on: ubuntu-latest
    env:
      DOCKER_REPOSITORY: afakari/uni-test-automation 
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker Image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true 
          tags: |
            ${{ env.DOCKER_REPOSITORY }}:${{ github.sha }}
            ${{ env.DOCKER_REPOSITORY }}:latest
